* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

.header-wrapper {
  display:flex;
  align-items:center;
  justify-content: space-between;
 margin-top:30px;
 font-size: 20px;
 font-weight: bolder;

 
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.picture {
  display: flex;
  align-items: center;
  margin: 20px 100px;
}

.profile-pic {
  width:70px;
  height:70px;
  border-radius: 50px;
  border: 2px solid #9e095e;
  
}

.picture p {
  padding-left: 10px;
 
}

.about-text {
  line-height: 1.5;
}

nav ul {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color:black;
  padding: 10px 20px;
}

nav a:hover {
  border-bottom: 2px solid #9e095e;
}

.social-media-links {
 position: fixed;
 top:40%;
 left:10px;
 transform:translateY(-50%);

}

.social-media-links ul {
  margin: 0;
  padding: 0;
}

.social-media-links li {
  list-style: none;
  margin: 5px 0;

}

.social-media-links li a {
  color: #fff;
  display: block;
  text-align: center;
 position: relative;

}

.social-media-links li a span {
  position: absolute;
  top:29px;
  left:-20px;
  width: 150px;
  height: 50px;
  color: #000;
  font-size: 13px;
  z-index: -1;
  opacity: 0;
  backface-visibility: hidden;
  transition: 0.5s;

}

.social-media-links li:hover span {
  opacity: 1;
  backface-visibility: visible;
  left:50px;
  
}

section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  

}

.about-section {
  margin: 20px 100px;
}

.primary-text {
  font-size: 45px;
  font-weight: 600;
}

span {
  color: 
  #77a1c1;
}

.box{
  display:inline-block;
  flex-direction: row;
  justify-content: space-between;
	width:290px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border-radius: 10px;
	overflow: hidden;
  margin-right: 30px;
 
}

.slide-img img{
	width:100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;

}


.detail-box{
	width: 100%;
  display: flex;
  flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;

	box-sizing: border-box;
	
}

.btn-project {
    margin-top:10px;
    width: 160px;
    height:40px;
    background: #4076D6;
    color: #fff;
    border: none;
    padding: 13px 20px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    border:none;
  
}


.btn-project:hover {
  background-color: #434994;
}

/*education part*/

.education-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  margin-left: 30px;


}

.timeline {
  width: 100%;
  position: relative;

}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color:
  #545454;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
  color:black;
}

/*Contact form*/
.container-3 {
  display: flex;
  /*border: 2px solid seagreen*/
}

form {
  /*border: 2px solid red;*/
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

 
}

label {
  margin-bottom: 5px;
}

.input-text {
  width: 500px;
  height:40px;
  border: 2px solid grey;
  border-radius: 4px;
 
}

.contact-icons {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  /*border: 2px solid springgreen*/

}

.btn-login {
  width: 200px;
  height:40px;
  background:#4076D6;
  color: #fff;
  border: none;
  padding: 10px 10px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;

}

.text {
text-align: center;
}


/*Media Queries for timeline*/
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 100%;
    background-color: #a7216e;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #a7216e;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: aqua;
  }
}


